{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            Task management
        {% endif %}
    </title>
    <link rel="stylesheet" href="{% static 'tasks/stylesheets/design.css' %}">
</head>
<body>

<div class="header">
    <div class="menu">
        <span><a href="#">Tasks</a></span>
        <span><a href="#">Types</a></span>
    </div>
</div>

<div class="content">
    {% block content %}

    {% endblock %}
</div>

<script type="text/javascript" src="{% static 'tasks/scripts/jquery2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'tasks/scripts/main.js' %}"></script>

</body>
</html>