body {
            margin-left: 2em;
        }

        .menu{
            display: none;
        }

        .menu a:link, .menu a:visited {
            border: 2px solid #ddd;
            color: black;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .menu a:hover{
            border: 2px solid black;
        }

        table {
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border: 1px solid #ddd;
        }

        .task-type-element{
            margin-bottom: 1em;
        }