{% extends 'tasks/layout/main.html' %}

{% block content %}
    <h4>Task Types:</h4>
    <div class="task-type-element">
        <label>Type</label>:
        <select class="type-selection">
            <option value="all" selected>All</option>
            {% for type in types %}
                <option value="{{ type.id }}">{{ type.name }}</option>
            {% endfor %}
        </select>
    </div>

    <table>
        <thead>
        <tr>
            <th>Task</th>
            <th>Type</th>
            <th>Developer</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody class="table_tbody">

        </tbody>
    </table>
{% endblock %}