{% extends 'tasks/layout/main.html' %}

{% block content %}
    <h4>Task list:</h4>
    <table>
        <thead>
        <tr>
            <th>Task</th>
            <th>Type</th>
            <th>Developer</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.task.name }}</td>
                <td>{{ task.task.task_type.name }}</td>
                <td>{{ task.developer.get_full_name }}</td>
                <td>{{ task.status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}